@import "bootstrap/less/bootstrap";
@import "font-awesome/less/font-awesome";

//navbar

.navbar {
  margin-bottom: 0;
}

//body

.home {
  margin-top: 60px;

  .fa {
    font-size: 5em;
  }

  div {
    text-align: center;
    padding: 0 5px;
  }
}

.main-container {
  margin-top: 50px;
}

//search

.searchbox {

}

//footer

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
}

//lists

.venue-thumbnail {
  text-align: center;
  padding: 5px;
  img {
    max-width: 100px;
    width: 100%;
  }
}

//users

.user-profile {
  text-align: center;
}

.user-contact {
  width: 100%;
}

.user-avatar {
  border-radius: 100%;
}

.user-full-name {
  font-size: 26px;
  line-height: 30px;
  width: 100%;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-username {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  width: 100%;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

//badges
.label-as-badge {
  border-radius: 1em;
}
